:host{
    display: block;
}
.header{
    padding: 25px 0;
    text-align: center;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px #eee;
    img{
        width: 150px;
        height: 38px;
    }
}
.wrapper{
    margin: 100px 0 150px;
}